.card {
	width: 22%;
	height: 35vh;
	margin-bottom: 180px;
	opacity: 0.5;
	filter: saturate(20%);
	transition: 0.5s;

	&:hover {
		opacity: 1;
		filter: saturate(100%);
	}

	h3 {
		padding: 10px 5px;
		border-top: 1px solid #888;
		margin: 20px 0px;
	}

	&.horizontal {
		width: 48%;
		height: 17vh;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 60px;

		> div {
			width: 30%;
		}
		> h3 {
			width: calc(70% - 20px);
			padding: 15px 20px 10px 0px;
			margin: 0;
			font-size: 22px;
			color: var(--point);
		}
	}
}

@media screen and (max-width: $tabletB) {
	.card {
		width: 30%;

		&.horizontal {
			width: 48%;
		}
	}
}

@media screen and (max-width: $tabletS) {
	.card {
		width: 46%;

		&.horizontal {
			width: 100%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.card {
		width: 100%;

		&.horizontal {
			width: 100%;
		}
	}
}
